.page.theme_light {
  --bg-imag: none;
  --bg-color: #fff1f7;
  --font-family: "IBM Plex mono", sans-serif;
  --accent-color: #ff0070;
  --shadow-color: #db00ff;
  --title-color: #ffc2e6;
  --text-color: #9b2a5d;
  --subtitle-color: #353430;
  --content-title-color: #db00ff;

  --footer-title: #ffc2e6;
  --bg-subtitle-color: #ff8dcb;
  --decor-title-color: #ff0070;
  --rec-color: #ffc2e6;
  --button-color: #353430;
  --section-title-color: #353430;
  --article-title-color: #353430;
  --section-text-color: #353430;
  --bg-article: #ff8dcb;
  --picture-title-color: #353430;
  --bg-picture-color: #ff8dcb;
  --decor-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
  --focus-color: #353430;
  --link-shadow: #ff8dcb;
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-imag: none;
    --bg-color: #fff1f7;
    --font-family: "IBM Plex mono", sans-serif;
    --accent-color: #ff0070;
    --shadow-color: #db00ff;
    --title-color: #ffc2e6;
    --text-color: #9b2a5d;
    --subtitle-color: #353430;
    --content-title-color: #db00ff;
    --footer-title: #ffc2e6;
    --bg-subtitle-color: #ff8dcb;
    --decor-title-color: #ff0070;
    --rec-color: #ffc2e6;
    --button-color: #353430;
    --section-title-color: #353430;
    --article-title-color: #353430;
    --section-text-color: #353430;
    --bg-article: #ff8dcb;
    --picture-title-color: #353430;
    --bg-picture-color: #ff8dcb;
    --decor-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
    --focus-color: #353430;
    --link-shadow: #ff8dcb;
  }
}
