:root {
  --font-family: "IBM Plex mono", sans-serif;
  --bg-imag: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --bg-color-2: #ff0070;
  --title-color: #db00ff;
  --rec-color: #ff0070;
  --accent-color: #ff0070;
  --shadow-color: #ff0070;
  --title-shadow: #ff0070;
  --subtitle-color: #000028;
  --section-title-color: #ff0070;
  --text-color: #f1b2ce;
  --hover-color: rgba(255, 0, 112, 0.4);
  --hover-link-color: #f1b2ce;
  --block-indentation: 60px;
}
